@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{

}
header{
    display: flex;
    justify-content: space-between;
    background-color: #093f4e;
    width: 100%;
    height: 110px;
}
header a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px 25px;
    text-align: center;
    font-size: 20px;
    transition: all 0.5s ease;
}
header a:hover{
    transform: scale(1.1);
}
header .header-log {
   display: flex;
   margin-left: 20px;
}
header .header-log img {
    width: 90px;
    height: 90px;
    border-radius: 100px;
    margin-top: 10px;
}
header .header-log h1 a{  
    margin-top: 10px;  
    font-size: 30px;
}
nav{
    margin-top: 20px;
    margin-right: 300px;
}
header ul{
    display: flex;
}
header ul li{
    color: white;
    list-style: none;
    display: inline-block;
    position: relative;
}

header li ul.dropdown li{
    display: block;
   

}
header li ul.dropdown {
    
    background-color: #093f4e;
    position: absolute;
    z-index: 999;
    display: none;
    width: 500px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: left;
    
}
ul li:hover ul.dropdown{
    display: block;
}
.dropdown-list{
    display: flex;
}
header button{
    width: 600px;
    height: 70px;
    background-color: #0ad4b3;
    border-radius: 10px;
    font-size: 25px;
    margin-top: 20px;
    margin-right: 50px;
    transition: all 0.5s ease;
}
header button:hover{
    transform: scale(1.1);
}





footer {
    color: white;
    background-color: #093f4e;
    margin-top: 100px;
    margin-bottom: 50px;
}
footer .footer-form{
    display: flex;
    justify-content: space-evenly;
}
footer .footer-form-text{
    margin-top: 50px;
    
}
footer .header-log{
    display: flex;
}
Footer .header-log img {
    width: 90px;
    height: 90px;
    border-radius: 100px;
    margin-top: 10px;
}
footer .header-log h1 {  
    margin-top: 30px;  
    font-size: 27px;
    margin-left: 10px;
}
footer .footer-social-icons ion-icon{
    width: 20px;
    height: 20px;
    background-color: white;
    color: black; 
    padding: 10px;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.5s ease;
}
footer .footer-social-icons ion-icon:hover{
    background-color: #0ad4b3;
}
footer .footer-form-text p{
    margin-top: 20px;
    font-size: 17px;
    margin-left: 10px;
    margin-bottom: 20px;
}
footer .footer-subscribe-form{
    margin-top: 50px;
}
footer .footer-subscribe-form form{
    background-color: rgba(255, 255, 255, 0.445);
    margin-top: 50px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
}
footer .footer-subscribe-form form input{
    height: 50px;
    width: 100%;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    font-size: 20px;
}
footer #Subscribe{
    width: 150px;
    background-color: #093f4e;
    color: white;
    font-size: 20px;
    transition: all 0.5s ease;
    margin-right: 50px;

}
footer #Subscribe:hover
{
    transform:scale(1.1);
}
footer .Footer-list{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 50px;
}
footer .Footer-list h3{
    font-size: 25px;
    margin-bottom: 30px;
}
footer .Footer-list a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: all 0.5s ease;
}
footer .Footer-list a:hover{
    color: lightblue;
}

footer .Footer-list ul li{
    margin-top: 15px;
}
footer .Footer-list ul{
    list-style: none;
    margin-bottom: 50px;
}