@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
  
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.form-div{
    width: 600px;
    height: 580px;
    border: 2px rgb(105, 105, 105) solid;
    padding: 20px;
    border-radius: 10px;
}
#signup-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
   
    
}

#signup-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    
}

#signupForm input
 {
    width: 90%;
    height: 30px;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
}
.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#signupForm button {
    width: 94%;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: #0ad4b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.5s ease;
}

#signupForm button:hover {
    background-color: white;
    color: black;
}

#message {
    margin-top: 20px;
    text-align: center;
    color: red;
    font-size: 20px;
}
.login-div{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
   
}
.login-div a{
    margin-right: 40px;
    font-size: 20px;
    transition: all 0.5s ease;
    color: black;
}
.login-div a:hover{
    color: #0ad4b3;
}